
## React Native
node_modules

## Android
.gradle/
.idea/
*.iml
local.properties
build/

##iOS
*.ipa
*.dSYM.zip
ios/Pods/*
src/component/index.tsx
studio.sh
.DS_Store
ios/clip.xcworkspace/xcuserdata/mrgod.xcuserdatad/UserInterfaceState.xcuserstate
